extends ../layout

block content
  h1= title
  nav 
    ul 
      li 
        a(href='/admin/news/add') Dodaj nowy artykuł.
  table 
    tr 
      th id 
      th tytuł
      th autor 
      th data dodania 
      th akcja 
    each item, index in data 
      tr 
        td=index+1
        td=item.title 
        td=item.author 
        td=item.date 
        td
          button
            a(href=`/admin/news/delete/${item._id}`) Usuń